
.WelcomeUser {
    font-style: italic;
    color: rgb(100, 93, 93);
}

.ActionList {
    list-style: none;
    margin-top: 2rem;
    margin-left: 5rem;
}

.TranslationLinkProfile{
    color: black;
    text-decoration: none;
}

.TranslationLinkProfile:hover{
    color: orange;
}

.TranslationHistorySection {
    float: right;
    margin-top: 0rem;
    margin-right: 3rem;
}

.Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.NoHistoryHeader {
    color: rgb(100, 93, 93);
    font-style: italic;
}