
.TranslationCard {
    background-color: aquamarine;
    padding: 10px;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}

.TranslationForm {
    margin: auto;
    width: 50%;
}

.TranslationFieldset {
    border-radius: 5px;
    background-color: wheat;
}
