
.Navbar{
    padding: 3rem;
    height: 6rem;
    background-color: rgb(240, 183, 77);
}

.NavbarHeader{
    font-size: x-large;
    color: teal;
    background-color: wheat;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1rem;
    text-align: center;
    width: auto;
    margin: 0 auto;
    border-radius: 4px;
}

.Links{
    margin-top: -3rem;
    list-style: none;
}

.TranslationLink:hover{
    color: rgb(224, 151, 54);
}

.ProfileLink:hover{
    color: rgb(224, 151, 54);
}

.TranslationLink{
    color: teal;
    background-color:wheat;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 4px;
    float: left;
    margin-left: 7%;
}

.ProfileLink{
    color: teal;
    background-color:wheat;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 4px;
    float: right;
    margin-right: 7%;
}

