
.LoginHeader {
   color: rgb(100, 93, 93);
   margin-left: 3rem;
}


.QuestionHeader {
   width: 100%;
   margin: 0 auto;
   color: green;
   text-align: center;
   
}

.LoginForm { 
   padding: 1rem;
   text-align: left;
   margin-top: 2rem;
   margin-left: 15rem;
   margin-right: 15rem;
}

.LoginFormBorder {
   border-radius: 4px;
   background-color: wheat;
}

input{
   padding: 12px;
   margin: 5px;
   border-radius: 5px;
   border-width: 3px;
   border-color: teal;
}
