
.ViewHeader {
    color: rgb(100, 93, 93);
    margin-left: 3rem;
}

html {
    background-color: whitesmoke;
}

button{
    height: 3rem;
    width: 7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: wheat;
    border-radius: 4px;
 }

 button:hover {
    color: orange;
 }